.tabs {
  width: 70%;
  height: 600px;
  background-color: #ffff;
}
.tab-list {
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}
.tab-content {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-list-item {
  list-style: none;
  margin-bottom: -1px;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
}

.tab-list-active {
  background-color: #d8d8d8;
}
@media (max-width: 767px) {
  .tabs {
    width: 100%;
    padding: 10px 20px;
  }
}
